$width: 25vw;
$height: 25vw;

.cardContainer {
  display: inline-block;
  position: relative;
  margin: 20px;
  width: 33%;
}

.card {
  height: $height;
  width: $width;
  background-color: #F0EBD8;
  position: relative;
  transition: transform 0.7s ease;
  border-radius: 5px;
  z-index: 2;


  &:hover {
    transform: translateY(-10px) rotate(-0.5deg);
    cursor: pointer;

    +.cardBG:before {
      transform: translateY(-2px) rotate(2deg);
    }

    +.cardBG:after {
      transform: translateY(-5px) rotate(1deg);
    }
  }
}

.cardContent {
  padding: 15px;

  h1,
  h2,
  h3,
  p {
    display: block;
  }
}

.cardBG {
  position: absolute;
  top: 0;
  left: 0;

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: $width;
    height: $height;
    background-color: #6EA4BF;
    top: 9px;
    left: 9px;
    transition: transform 0.9s ease;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 3px #0c0c0c;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: $width;
    height: $height;
    background-color: #ED7D3A;
    top: 5px;
    left: 5px;
    transition: transform 1.1s ease;
    border-radius: 5px;
  }
}