.navbar {
  display: block;
  position: fixed;
  width: 100%;
  background-color: orange;
  color: black;
  box-shadow: 3px 2.5px 10px 3px #ddd;

  z-index: 1;
}

.container {
  width: 80vw;
  margin: 0 auto;
  padding: 0.5rem 2rem; 
}